<!DOCTYPE html>
<html>

  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <style>
      body {
        background-color: #000;
        color: #fff;
      }

      .container {
        margin-top: 20px;
      }

      .technical-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
    </style>
    <%= render partial: "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
